/* Javadoc style sheet */

@import url("com/carrotsearch/hppc/doc-files/styles.css");

/* Define colors, fonts and other style attributes here to override the defaults  */

/* Page background color */
body { 	font-family: Trebuchet MS, Arial;
	background-color: white;
	font-size: 10pt;
 }
td { 	font-family: Trebuchet MS,Arial;
	font-size: 10pt;
 }

table {
  border-collapse: collapse;
}

a.logo {
  float: right;
  padding-left: 10px;
  position: relative;
  width: 82px;
  height: 35px;
  background: url('com/carrotsearch/hppc/doc-files/logo.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.FrameTitleFont #header {
  display: none;
}

table .TableHeadingColor td,
table .TableHeadingColor th,
table .TableSubHeadingColor td,
table .TableSubHeadingColor th,
table .TableRowColor td,
table .TableRowColor th
{
  border: 1px solid #cccccc;
}
/* Table colors */
.TableHeadingColor     { background: #e8e8e8 }
.TableSubHeadingColor  { background: #e8e8e8 }
.TableRowColor         { background: #FFFFFF }

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: normal;}
.FrameHeadingFont { font-size: normal;}
.FrameItemFont    { font-size: normal;}

/* Example of smaller, sans-serif font in frames */
/* .FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif } */

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#F4F4F4;}
.NavBarCell1Rev { background-color:silver;}

.NavBarFont1    {  color:#000000;}
.NavBarFont1Rev {  color:#FFFFFF;}

.NavBarCell2    {  background-color:#FFFFFF;}
.NavBarCell3    {  background-color:#FFFFFF;}

A {
    color: #003399;
}

A:active {
    color: #003399;
}

A:visited {
    color: #888888;
}

P, OL, UL, LI, DL, DT, DD, BLOCKQUOTE {
    color: #000000;
}

TD, TH, SPAN {
    color: #000000;
}

BLOCKQUOTE {
    margin-right: 0px;
}

TT {
font-size: 90%;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}

PRE {
font-size: 90%;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #F4F4F4;
}

UL, OL, LI {
    list-style: disc;
}

HR  {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    border-width: 0px;
    padding: 0px;
    color: #CCCCCC;
}

.variablelist { 
    padding-top: 10; 
    padding-bottom:10; 
    margin:0;
}

.itemizedlist, UL { 
    padding-top: 0; 
    padding-bottom:0; 
    margin:0; 
}

.term { 
    font-weight:bold;
}

a.download-small, a.view-small {
  background-position: 0 4px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  padding-left: 72px;
}

a.download-small {
  background-image: url(button-download-small.png);
}

a.view-small {
  background-image: url(button-view-small.png);
}

h1, h2 {
  margin-bottom: 0.2em;
  margin-top: 1em;
}

p {
  margin-top: 0;
}

a.source-link {
  float:right;
  position:relative;
  top:-1em;
}
