# Mac specific
.DS_Store

# Maven
target
*.versionsBackup

# Eclipse
.classpath
.project
.settings
.externalToolBuilders

# External tools.
.clover

# Locally generated
.builder.classpath
.benchmark.*.db

# IntelliJ
.idea/
*.iml

# Gradle
build/
.gradle/