name: On Commit Checks

on: 
  pull_request:
    branches:
      - master

  push:
    branches:
      - master

jobs:
  tests:
    name: gradle check (JDK ${{ matrix.java }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [ '17', '21' ]

    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          java-package: jdk

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Tests (./gradlew ... check)
        run: ./gradlew --max-workers 4 check

      - name: Store failed test outputs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-test-outputs
          path: '**/OUTPUT-*.txt'
